@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --prim-color : #A8FF2F;
  --mont : 'mont',serif;
}

body{
  margin: 0;
  padding: 0;
  background: #1E1E25;
}

@font-face{
  font-family: 'round';
  src:url("../fonts/rd.otf") format("opentype")
}

@font-face{
  font-family: 'mont';
  src:url("../fonts/mont.ttf") format("truetype")
}


@font-face{
  font-family: 'sachabo';
  src:url("../fonts/sh.otf") format("opentype")
}

.round{
  font-family: 'round',sans-serif;
}


.mont{
  font-family: 'mont',serif;
}
.sachabo{
  font-family: 'sachabo',sans-serif;
}
.anim{
  transition: 0.3s ease-in-out;
}
.anim:hover{
  scale: 1.1;
}

.curvbg{
  background-image: url("../assets/curv.svg");
  background-size:cover ;
}

.gradientText{
    background: linear-gradient(90deg, #A8FF2F 40%, #67FFDA 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.bggradient{
  background: linear-gradient(90deg, #A8FF2F 0%, #67FFDA 100%);
}


table th{
  font-weight: 800;
  padding: 18px 0;
border-spacing: 0;
border-collapse: collapse;
border: none !important;
margin: 0;
outline: none;
}

table td{
  font-weight: 800;
  padding: 10px 0;
border-spacing: 0;
border-collapse: collapse;
border: none !important;
margin: 0;
outline: none;
}

@media only screen and (max-width: 600px) {
  table th,table td{
    padding: 9px 0;
  }
}

.tranis{
  transition: 0.5s ease-in-out;
}


.card {
  position: relative;
  transform-style: preserve-3d;
}

.card-front,
.card-back {
  backface-visibility: hidden;
}


.card-back {
  display: flex;
  justify-items:center ;
  align-items: center;
  position: absolute;
  bottom: 0;
  height: 100%;
  transform: rotateX(180deg); 
}

.rec1{
  background-image: url("../assets/rec1.png");
  background-position: center;
  background-size: cover;
}

